*, *::before, *::after {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100 vw;
    align-items: center;
}

.container {
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
    width: 800px;
    max-width: 80%;
}

.btn-grid {
    display: grid;
    margin: 20px 0;
    gap: 10px;
}

.btn {
    border: 1px solid cornflowerblue;
    background-color: lightsalmon;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
}

.btn:hover {
    border-color: black;
}

.start-btn, .next-btn, .submit-btn {
    font-size: large;
    font-weight: bold;
    padding: 20px 70px;
}

.hide {
    display: none;
}

.choices {
    align-items: center;
    justify-content: center;
    display: flex;
}

.time {
    border: 1px black;
    background-color: lightsalmon;
    font-weight: bold;
}