*, *::before, *::after {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body, .container {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke; 
}

/* timer and high score */
#timer {
    float: right;
    margin: 10px 20px 0 0;
}

#view_high_score {
    float: left;
    cursor: pointer;
    color:rgb(179, 87, 255);
    margin: 10px 0 0 20px;
}

/* the content of the quiz */

.container {
    padding: 100px 40px;
    margin: 0 auto;
    max-width: 900px;
    font-size: 20px;
    color: hsl(0, 0%, 0%);
    text-align: center;
}

header {
    color: hsl(0, 0%, 0%);
    text-align: center;
    /* padding: 20px; */
    padding-top: 0px;
}

.card-header::after {
    content: " ";
    display: block;
    height: 3px;
    width: 100%;
    background: lightpink;
}

/* start button */
.start-btn {
    content: " ";
    /* display: block; */
    width: 15%;
    height: 50px;
    background: lightpink;
    text-align: center; 
}

/* all the other buttons */
button {
    cursor: pointer;
    margin: 16px 16px 16px 20px;
    display: inline-block;
    border: none;
    background-color: rgb(61, 3, 128);
    color: hsl(0, 0%, 100%);
    border-radius: 20px;
}

button > a {
 color: white;
}

.btn:hover {
    border-color: black;
}

.btn-grid {
    display: grid;
    margin: 20px 0;
    gap: 10px;
}

.btn {
    padding: 14px 34px;
    text-align: center;
    line-height: 24px;
    font-size: 24px;
}

/*answer button*/
.btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    padding: 14px 90px;
    width: 50%;
}

.start-btn, .submit-btn {
    font-size: large;
    font-weight: bold;
    /*padding: 20px 70px 20px 70px; */
    text-align: center;
}

#submit, #go_back, #clear {
    font-size: 14px;
    padding: 8px 18px;
    text-align: center;
    border-radius: 10px;
}

.hide {
    display: none;
}

/*questions and answer section*/
#questionCon {
    /* display: flex; */
    flex-direction: column;
    padding: 60px 20px 30px 30px;
}

#question {
    text-align: center;
    padding-top: 0px;
    color:hsl(0, 0%, 0%);
}

/*results and scores*/
#results {
    flex-direction: column;
    padding: 60px 20px 30px 30px;
    /* display: flex; */
}

/*high score section*/
#high_scores {
    /* display: flex; */
    padding: 60px 20px 30px 30px;
    flex-direction: column;
    align-items: center; 
}

#list_scores {
    font-weight: bolder;
}

li:nth-child(even) {
    background-color: rgba(226, 43, 226, 0.308);
}

li:nth-child(odd) {
    background-color: rgba(226, 43, 226, 0.308);
}

/* media query */
@media (max-width: 690px) {
    .btn {
        font-size: 1rem;
        margin: 18px 0px 0px 0px;
        padding: 15px 20px;
    }
}

@media (max-width: 500px) {
    .btn {
        font-size: 0.9rem;
    }
}

a {
    text-decoration: none;
}